global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 5s
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - adzdia03:9093
    scheme: http
    timeout: 10s
rule_files:
- /etc/prometheus/config/alert.rules
scrape_configs:
- job_name: federate
  honor_labels: true
  honor_timestamps: true
  params:
    match[]:
    - '{job="node-exporter"}'
    - '{job="collectd-exporter"}'
    - '{__name__=~"job:.*"}'
    - '{job="mysql-exporter"}'
  scrape_interval: 10s
  scrape_timeout: 10s
  metrics_path: /federate
  scheme: http
  static_configs:
  - targets:
    - adzdia03:9090
    - adzdia01:9090
